<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registros de liquidación</title>

    <link rel="stylesheet" href="../../../public/css/style.css">
    <link rel="stylesheet" href="../../../public/css/forms.css">
    <link rel="stylesheet" href="../../../public/css/liquidation.css">
</head>
<body>
    <header>
        <a class="btn r" href="../index.html">Atras</a>
    </header>

    <main>
        <h2 class="liquidation_title">Registros de liquidación</h2>

        <section class="liquidation_registers">
            <!-- Start register -->
            <article class="liquidation_register">
                <h3>Id: 1</h3>
                <p>Producto: Leche de vaca</p>
                <p>Precio total: 25.000 pesos</p>
                <p>Cantidad en litros: 10</p>
                <p>Granjero: Sebastian montoya</p>
                <p>Granja: Montañitas</p>
                <p>Fecha de guardado: 2024/07/22</p>
                <p>Operador: Esteban celis</p>
                <div class="liquidation_options">
                    <a class="btn o" href="liquidationActualizar.html?id=1">Actualizar</a>
                    <a class="btn r" href="#">Eliminar</a>
                </div>
            </article>
            <!-- End register -->
        </section>
    </main>
</body>
</html>