
form {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
select {
    border-radius: 6px;
    outline: none;
    font-size: 25px;
    /* background-color: rgba(60, 83, 123, 0.644); */
    background-color: #16182e;
    border: 2px solid;
    padding: 5px 10px;
}

::placeholder {
    color: #fff;
}

.product-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (min-width: 800px) {
    .product-form {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    
    .product-form input,
    .product-form select {
        width: 100%;
    }
}

.container_log-in {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    width: 500px;
}

.container_log-in .title {
    font-size: 45px;
    color: #3dc;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #2b2e49;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border: 1px solid #ddd;
}

th {
    background-color: #1d1f32;
    color: white;
}
    
tr:hover {
    background-color: #36395b;
}

caption {
    caption-side: top;
    font-size: 1.5em;
    padding: 10px;
}
